<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>TestJueliLisa</servlet-name>
		<servlet-class>htwg.test.TestJueliLisaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestJueliLisa</servlet-name>
		<url-pattern>/testjuelilisa</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
		<servlet>
		<servlet-name>LisasServlet</servlet-name>
		<servlet-class>htwg.test.LisasServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LisasServlet</servlet-name>
		<url-pattern>/lisasservlet</url-pattern>
	</servlet-mapping>
</web-app>
